.tile {
  width: calc(2 * var(--fs-big));
  margin: var(--size-100);
  background-color: hsl(var(--clr-primary-dark));
  box-shadow: 3px 3px 1px hsl(var(--clr-primary-dark), var(--default-opacity));
  border-radius: var(--default-radius);
  color: hsl(var(--clr-neutral));
  aspect-ratio: 1;
  font-size: var(--fs-big);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.correct {
  background-color: hsl(var(--clr-primary-orange));
}

.to-swap {
  background-color: hsl(var(--clr-secondary));
}

.incorrect {
  background-color: hsla(var(--clr-primary-dark), var(--default-opacity));
}
