#footer {
  margin-top: var(--size-600);
}

.social-list {
  display: flex;
  gap: var(--size-400);
}

.even-columns {
  display: grid;
  gap: var(--size-400);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.justify-self-end {
  justify-self: end;
}
