li {
  display: flex;
  align-items: center;
  gap: var(--size-400);
}

.color-square {
  display: block;
  width: var(--size-400);
  height: var(--size-400);
  border-radius: var(--default-radius);
  box-shadow: 3px 3px 1px hsl(var(--clr-primary-dark), var(--default-opacity));
}
